
doctype html
html
	head
		title Sumome Challenge!
		block meta
			meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1')
		block scripts
			script(src='https://code.jquery.com/jquery-1.11.3.min.js')
		block styles
			link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
			style(type='text/css')
				|	#main { margin-top:30px }
	body
		#main.container
			block content